{% extends 'base.html' %}

{% block Title %}
Signup
{% endblock %}

{% block content %}
    <div class="container py-5">
    <h1>User Registration</h1>
    <p>Enter your username and password to register.</p>

    <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
      <table>
          {{ form.as_table }}
          <tr>
              <td>&nbsp;</td>
              <td><input type="submit" value="signup"></td>
          </tr>
      </table>
        <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
    </form>
</div>
{% endblock %}
